<!doctype html>
<html lang="es">
<head>
    <meta charset ="UTF8">
    <title>My Blog</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'core/style/style.css' %}">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>
<body>

    <!-- Menu -->
    <ul>
        <li><a href="{% url 'home' %}">Portada</a></li>
        <li><a href="{% url 'about' %}">Acerca de</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
    </ul>

    <img src="{% static 'core/img/caballo.jpg' %}" alt="caballo">

    <!-- Contenido -->
    {% block content %}{% endblock %}
</body>
<html>